@import "../../../globals";

.PostsContainer{
  padding-top: 20px;
  padding-bottom: 20px;

  .postsSpinner{
    .spinnerWrapper{
      width: 100%;
      height: 100px;
      .sk-spinner{
        width: 30px;
        height: 30px;
        margin: 20px auto;
      }
    }
  }

  .postContainer{
    padding-bottom: 30px;
    a{
      color: $dark-font-color;
    }
    h3{
      font-family: Poppins;
    }
    .postBody{
      font-family: Baarlow;
      font-weight: 400;
      font-size: 20px;
    }
    .postImage{
      max-height: 200px;
      border-radius: 3px;
    }
    .postCategories{
      text-align: right;
      padding-top: 10px;
      padding-bottom: 5px;
      .categoryName{
        font-size: 12px;
        padding: 5px 10px 5px 10px;
        margin-left: 0px;
        margin-right: 10px;
        border-radius: 3px;
        background-color: $light-background-color;
        // box-shadow: $standard-shadow;
        border: 1px solid $light-border-color;
      }
    }
  }
}