@import "../../../globals";

#PostPage{
  position: relative;
  .postContainer{
    max-width: 900px;
    margin: 0 auto;
    h1{
      font-family: lato;
      font-weight: 400;
    }
    .bar{
      position: absolute;
      left: 0px;
      width: 70%;
      height: 2px;
      background: $primary-color;
    }
    .postBodyContainer{
      padding-top: 20px;
      padding-bottom: 50px;
    }
    .hiddenHeaderPlaceHolder{
      color: rgba(0,0,0,0);
    }
    .hiddenBodyPlaceHolder{
      display: block;
      color: rgba(0,0,0,0);
      height: 200px;
    }
    .tagsContainer{
      text-align: right;
      overflow: scroll;
      white-space: nowrap;
      padding: 10px;
      .tagContainer{
        width: 100%;
        padding-left: 10px;
        // TAG TITLE DEFINED IN PAGE ELEMENTS
      }
    }
    .authorSection{
      margin: 35px 0px 35px 0px;
      padding: 25px 35px 25px 35px;
      border-radius: 3px;
      background: $light-background-color;
      box-shadow: $standard-shadow;
      .authorAvatar{
        text-align: center;
        padding-bottom: 20px;
      }
      .img-circle{
        border-radius: 50%;
      }
      a h2{
        color: $dark-font-color;
      }
    }
    .commentSection{
      padding-top: 30px;
      .comments{
        .childComment{
          padding-left: 30px;
        }
        .comment{
          padding-top: 20px;
          .commentAuthorImage{
            max-width: 90%;
          }
          .commentBody{
            p{
              font-size: 16px;
              a{
                color: $dark-font-color;
              }
            }
          }
          .commentAuthorLink{
            color: $dark-font-color;
          }
        }
      }
    }

    .newCommentFormSection{
      padding-top: 30px;
      .formMessage{
        padding-top:5px;
        font-size: 18px;
        color: $red-color;
      }
      .authorInfoRow{
        input{
          margin-top: 10px;
        }
      }
      .textBodyRow{
        padding-top: 20px;
      }
      .submitButtonRow{
        padding-top: 20px;
      }
    }
    .tagsContainer::-webkit-scrollbar {
      display: none;
    }
    .postSpinner{
      .spinnerWrapper{
        width: 100%;
        height: 600px;
        .sk-spinner{
          width: 30px;
          height: 30px;
          margin: 80px auto;
        }
      }
    }
  }
}