@import "../../globals";

.BannerComponent{
  // position: relative;
  .bannerBackground{
    // width: 100%;
    height: 140px; //15vw
    background-color: $green-color;
    h1{
      // overflow: hidden;
      left: 0px;
      position: relative;
      z-index: 2;
      font-family: Lato;
      font-weight: 400;
      line-height: 70px;
      font-size: 80px;
      color: $light-font-color;
      padding: 0px;
      margin: 0px;
      white-space: nowrap;
      width: 90%;
      .subtitle{
        font-size: 40px;
        margin-left: 15px;
      }
    }
    i{
      position: absolute;
      top: 0;
      left: 390px;
      font-size: 140px;
      color: $green-color-alt;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 870px) {
  .BannerComponent{
    .bannerBackground{
      position: relative;
      width: 100%;
      height: 15vw;
      background-color: $green-color;
      h1{
        left: 0px;
        position: relative;
        z-index: 2;
        font-family: Lato;
        font-weight: 400;
        line-height: 7.5vw;
        font-size: 9vw;
        color: $light-font-color;
        padding: 0px;
        margin: 0px;
        white-space: nowrap;
        .subtitle{
          display: none;
          font-size: 5.25vw;
          margin-left: 3vw;
        }
      }
      i{
        position: absolute;
        top: 0;
        left: 40%;
        font-size: 15vw;
        color: $green-color-alt;
        z-index: 1;
      }
    }
  }
}

