@import "../../globals";

.MailingList{
  max-width: 750px;
  .btn.btn-default{
    height: 45px;
  }
  .mailListTitle{
    font-size: 40px;
    font-family: Poppins;
    padding-bottom: 10px;
  }
  h3{
    padding-bottom: 20px;
  }
  .mailingListForm{
    max-width: 650px;
  }
} 

@media screen and (max-width: 767px) {
  .MailingList{
    .btn{
      width: 100%;
      margin-top:10px;
    }
  }
} 
