@import "../../globals";

#NavBar {
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  margin-top: 70px;
  a {
    color: $light-font-color;
    cursor: pointer;
  }
  ul {
    list-style: none;
    margin-bottom: 80px;
    padding: 0;
    // margin-left: 30px;
    li {
      font-family: Poppins;
      display: inline;
      margin-right: 40px;
      font-size: 24px;
      line-height: 60px;
    }
  }
}

@media screen and (max-width: 767px) {
  #NavBar {
    width: 100%;
    height: auto;
    ul {
      text-align: center;
      margin-bottom: 0px;
      margin-left: 0px;
      li {
        display: block;
        line-height: 60px;
        margin-right: 0px;
      }
    }
  }
}
