.spinnerWrapper{
  padding: 10px;
  // position: fixed;
  // left: calc(50% - 20px);
  // top: calc(50% - 20px);

  // z-index: 9999999999;
  .spinner{
    width: 20px;
    height: 20px;
  }
  .circle:before{
    background-color: #000;
  }
}