@import "../../globals";

#WelcomePage{
  img{
    max-height: 65px;
    max-width: 100%;
    margin-bottom: 20px;
    // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(100%);
    // transition: .8s ease;
  }
  // img:hover{
  //   -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  //   filter: grayscale(0%);
  // }
  .welcomeTitle{
    h3{
      padding-top: 20px;
      padding-bottom: 40px;
      a{
        color: $primary-orange;
        text-decoration: none !important;
      }
      a:hover{
        color: $primary-orange;
        text-decoration: none;
      }
      a:visited{
        // color: 
        text-decoration: none;
      }
    }
  }
}