#Error404Page{
	color: white;
	.errorBackground{
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		z-index: -1;
		background: #29292C;
	}
	h1{
		padding-bottom: 90px;
	}
	.lostAstronaut{
		max-height: 400px;
		max-width: 100%;
	}
	.earth{
		position: relative;
		top: 50px;
		float: right;
	}
}