@import "../../globals";

#BlogPage{
  .blogContainer{
     user-select: text;
    -webkit-user-select: text;

    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 900px;
    margin: 0 auto;
  }

  h4{
    padding-top: 30px;
  }
  .categories{
    .category{
      cursor: pointer;
      display: inline-block;
      background: $light-background-color;
      padding: 5px 10px 5px 10px;
      margin: 5px 10px 5px 0px;
      box-shadow: $standard-shadow;
      border-radius: 3px;
    }
    .selected{
      background: $dark-background-color;
      color: $light-font-color;
    }
    .category:hover{
      background: $dark-background-color;
      color: $light-font-color;
    }
  }
}

@media screen and (max-width: 870px) {
  #BlogPage{
  }
}
