.btn.btn-default{
  color: $dark-font-color;
  background-color: $primary-color;
  border-radius: 2px;
  cursor: pointer;
}
.btn.btn-default:hover{
  background-color: $primary-color-alt;
}
.btn.btn-default:active{
  color: $dark-font-color;
  background-color: $primary-color;
}