@import '../globals';

.text-input{
  .field{
    input{
      width: 100%;
      height: 46px;
      background: $input-background-color;
      border-radius: 3px;
      border-left-width: 1px;
      border-left: thick solid $primary-color;
    }
    input:focus{
      outline: none;
      border-color: $primary-color;
      border-style: solid;
      border-left-width: 8px;
      border-left: thick solid $primary-color;
    }
  }
}
.form-errors{
  color: $red-color;
}
.textarea-input{
  .field{
    textarea{
      width: 100%;
      background: $input-background-color;
      border-radius: 3px;
      border-left-width: 1px;
      border-left: thick solid $primary-color;
    }
    textarea:focus{
      outline: none;
      border-color: $primary-color;
      border-style: solid;
      border-left-width: 8px;
      border-left: thick solid $primary-color;
    }
  }
}

#border-input * input, input.input-border{
    border-left-width: 1px;
    border-left: 1px solid #ccc;
}


.input-border * input, #input-border * input {
  border-radius: 3px;
  border-left-width: 1px;
  border-left-style: solid; 
  border-color: rgba(0, 0, 0, 0.15);
}

.noBorderInput{
    border: none;
}

.selection-drop{
  margin-left: 93%;
  margin-top: 10px;
}

.formBreakSection{
  * .title{
    margin-bottom: 0px;
    padding: 10px 0px;
  }
}

.select-box{
  background-color: $light-font-color;
  border: $borderBase;
  padding: 10px;
  select{
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    // background-image: none;
    // -webkit-appearance: none;
  }
}

.custom-checkbox {
  margin-bottom: 5px;
  padding-left: 1rem;
  &.checked {
    span {
      span {
        color: inherit;
      }
    }
  } 


  [type="checkbox"] {
    display: none;
  }

  [type="checkbox"] + span {
    display: block;
    font-weight: normal;
  }

  /* unchecked style */
  [type="checkbox"] + span:before {
    content: '\F10C';
    display: inline-block;
    width: 21px;
    height: 21px;
    
    font-family: 'FontAwesome';
    vertical-align: middle;
    border-radius: 50%;
    border: 0;
    margin-right: 3px;
    margin-bottom: 4px;
    line-height: 1.3;
  }
}

.custom-checkbox.checked > span:before {
   content: "\F111";
   font-family: 'FontAwesome';
   color: #fff;
}

