ul {
  li {
    font-family: Baarlow;
    font-size: 20px;
    font-weight: 400;

    user-select: auto;
    -webkit-user-select: auto;
  }
}
ol {
  li {
    font-family: Baarlow;
    font-size: 20px;
    font-weight: 400;

    user-select: auto;
    -webkit-user-select: auto;
  }
}
