.pageCircle{
  position: fixed;
  bottom: 30px;
  left: 3vw;
  a{
    color: $dark-font-color;
  }
  .button{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 25px;
    box-shadow: $standard-shadow;
    text-align: center;
    i{
      padding-top: 30%;
      font-size: 22px;
    }
  }
}

.verticalSocialContainer{
  position: fixed;
  z-index: 9;
  bottom: 45%;
  left: -3px;
  .button{
    width: 55px;
    // height: 155px;
    border-radius: 5px;
    box-shadow: $standard-shadow;
    text-align: center;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    .fa{
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      font-size: 30px;
      margin: 5px 0px 5px 0px;
    }
    a:first-child{
      color: $blue-color;
    }
    a:nth-child(2){
      color: $red-color;
    }
    a:nth-child(3){
      color: $green-color;
    }
    a:last-child{
      color: $dark-font-color;
    }
  }
}

.horizontalShareContainer{
  position: fixed;
  z-index: 9;
  max-height: 60px;
  .button{
    // width: 54px;
    // height: 155px;
    // width: 10px;
    border-radius: 5px;
    box-shadow: $standard-shadow;
    text-align: center;
    background: white !important;
    padding: 5px 10px 5px 10px;
    max-height: 55px;
    .fa{
      padding-left: 10px;
      padding-right: 10px;
      // display: block;
      font-size: 30px;
      margin: 5px 0px 5px 0px;
    }
    a:first-child{
      color: $blue-color;
    }
    a:nth-child(2){
      color: $red-color;
    }
    a:nth-child(3){
      color: $green-color;
    }
    a:last-child{
      color: $dark-font-color;
    }
  }
}
.horizontalSocialContainer{
  // position: fixed;
  // bottom: 30px;
  // left: 3vw;
  // z-index: 9;
  .button{
    // width: 50px;
    // height: 155px;
    width: 190px;
    border-radius: 5px;
    box-shadow: $standard-shadow;
    text-align: center;
    background: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 55px;
    .fa{
      padding-left: 10px;
      padding-right: 10px;
      // display: block;
      font-size: 30px;
      margin: 5px 0px 5px 0px;
    }
    a:first-child{
      color: $blue-color;
    }
    a:nth-child(2){
      color: $red-color;
    }
    a:nth-child(3){
      color: $green-color;
    }
    a:last-child{
      color: $dark-font-color;
    }
  }
}
.tagShadow{
  padding: 10px 10px 10px 10px;
  background: white;
  box-shadow: $standard-shadow;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
}
.tag{
  padding: 10px 10px 10px 10px;
  background: white;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
}

@media screen and (max-width: 767px) {
  .verticalSocialContainer{
    display: none;
  }
  .mobileHide{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .tabletHide{
    display: none;
  }
}

@media (min-width: 991px) {
  .desktopHide{
    display: none;
  }
}