@import "../globals";


h1 {
  font-family: Poppins;
  font-weight: 300;

  user-select: auto;
  -webkit-user-select: auto;
}
h2 {
  font-family: Poppins;
  font-weight: 300;

  user-select: auto;
  -webkit-user-select: auto;
}
h3 {
  font-family: Poppins;
  font-weight: 400;

  user-select: auto;
  -webkit-user-select: auto;
}
h4 {
  font-family: Poppins;
  font-weight: 400;

  user-select: auto;
  -webkit-user-select: auto;
}
h5 {
  font-family: Poppins;
  font-weight: 400;

  user-select: auto;
  -webkit-user-select: auto;
}
h6 {
  font-family: Poppins;
  font-weight: 400;

  user-select: auto;
  -webkit-user-select: auto;
}

p{
  font-family: Baarlow;
  font-weight: 400;
  font-size: 20px;
  user-select: auto;
  -webkit-user-select: auto;
}

li{
  font-family: Poppins;
  font-weight: 300;

  user-select: auto;
  -webkit-user-select: auto;
}

p.quote {
  font-family: Baarlow;
  font-weight: 400;
  font-style: italic;

  user-select: auto;
  -webkit-user-select: auto;
}


.redText{
  color: $red-color;
}
.greenText{
  color: $green-color;
}
.blueText{
  color: $blue-color;
}
.purpleText{
  color: $purple-color;
}