// Global variables go here ;D
$primary-color: #425F4A;
$primary-color-alt: #89B08F;

$primary-orange: #FFA649;

$dark-font-color: #29292C;
$dark-background-color: #29292C;

$light-font-color: #FFFFFF;
$light-background-color: #FFFFFF;


$input-background-color: #FFFFFF;

$purple-color: #BD0FE1;
$green-color: #55CE81;
$green-color-alt: #2AAD81;

$blue-color: #4990E2;
$red-color: #FF001F;


$dark-border-color: #979797;
$light-border-color: #EAEAEA;
$borderBase: solid 1px lighten($dark-border-color, 60%);

$standard-shadow: 0px 3px 10px rgba(0,0,0,.1);