@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';

@import "globals";

@import './components/App';

@import './common/buttons';
@import './common/forms';
@import './common/text';
@import './common/fonts';
@import './common/links';
@import './common/lists';
@import './common/pageElements';
@import './common/images';

html {
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}