@import '../../globals';

#AboutPage{
	.horizontalSocialContainer{
    position: fixed;
    bottom: 30px;
    left: 3vw;
    z-index: 9;
  }
  
	.imageTriangle{
		position: absolute;
		top: 0px;
		left: -20px;
		max-width: 850px;
		width: 60vw;
	}
	.imageBoxes{
		position: relative;
		right: -15px;
		padding-top: 50px;
		padding-bottom: 50px;
		width: 100%;
		max-width: 1000px;
		float: right;
	}
	.aboutTitleContainer{
		text-align: right;
		h1{
			font-weight: bold;
		}
		.aboutSubTitle{
			font-weight: 300;
			padding-bottom: 80px;
		}
		.aboutBodyText{
			padding-bottom: 80px;
			max-width: 350px;
			margin-right: 0px;
			margin-left: auto;
		}
	}
	.aboutSubBodyText{
		text-align: right;
		max-width: 520px;
		margin-right: 0px;
		margin-left: auto;
		a{
			color: $primary-orange;
			text-decoration: none !important;
		}
		a:hover{
			color: $primary-orange;
			text-decoration: none;
		}
		a:visited{
			// color: 
			text-decoration: none;
		}		
	}
	.activeTopics{
		padding-top: 100px;
		padding-bottom: 80px;
		.topic{
			padding-top: 10px;
			padding-bottom: 10px;
			.imgContainer{
				text-align: center;
			}
			img{
				max-height: 200px;
				max-width: 200px;
			}
		}
		.extratopics{
			padding-top: 10px;
			padding-bottom: 10px;
			img{
				max-width: 100px;
				max-height: 100px;
				margin-right: 20px;
			}
		}
	}
}


@media screen and (max-width: 767px) {
  #AboutPage{
  	.horizontalSocialContainer{
  		position: relative;
  		top: 40px;
  		left: 0px;
  	}
	  .imageTriangle{
			position: relative;
			top: -80px;
			left: -20px;
		}
		.imageBoxes{
			position: relative;
			padding-top: 50px;
			padding-bottom: 50px;
			width: 100%;
			max-width: 1000px;
			float: right;
		}
		.aboutTitleContainer{
			padding-top: 0px;
			text-align: left;
			h1{
				font-weight: bold;
			}
			.aboutSubTitle{
				font-weight: 300;
				padding-bottom: 80px;
			}
			.aboutBodyText{
				padding-bottom: 80px;
				max-width: 100%;
				margin-right: 0px;
				margin-left: auto;
			}
		}
		.aboutSubBodyText{
			text-align: left;
			max-width: 100%;
			margin-right: 0px;
			margin-left: auto;
		}
		.activeTopics{
			padding-top: 100px;
			padding-bottom: 80px;
			.topic{
				padding-top: 10px;
				padding-bottom: 10px;
				.imgContainer{
					text-align: center;
				}
				img{
					max-height: 200px;
					max-width: 200px;
				}
			}
			.extratopics{
				padding-top: 10px;
				padding-bottom: 10px;
				img{
					max-width: 100px;
					max-height: 100px;
					margin-right: 20px;
				}
			}
		}
  }
}
